*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: #549c2e;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
nav li a:hover{
    background-color: white;
    color: black;
}
.banner{
    height: 100vh;
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    padding: 65px;
    align-items: top;
    justify-content: center;
    text-align: center;
}
.texto .titulo{
    color: #fff;
    font-size: 3.75rem;
    font-weight: 600;
}
.menu-icon{
    display: none;
    color: white;
    cursor: pointer;
}
.menu-mobile{
    background-color: #549c2e;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    transition: 0.4;
}
.menu-mobile.ativo{
    left: 0;
}
.menu-mobile .icon-close{
    position: absolute;
    top: 40px;
    right: 40px;
    color: white;
    cursor: pointer;
}
@media (max-width: 800px) {
    .menu-desktop{
        display: none;
    }
    .menu-icon{
        display: block;
        font-size: 30px;
    }
    .menu-mobile li{
    margin: 20px 0;


    }
    .menu-mobile li a{
        font-size: 25px;
    }
    .texto .titulo{
        font-size: 25px;
    }
    .banner{
        height: 100vh;
        width: 100%;
    }
    iframe{
        width: 100%;
        height: 250px;
    }
    
}

